/dist
/src-capacitor
/src-cordova
/.quasar
/node_modules
.eslintrc.cjs
/quasar.config.*.temporary.compiled*

*.sh
lib
*.md
*.scss
*.woff
*.ttf
.vscode
.idea
mock
public
bin
build
config
index.html
src/assets
